<!DOCTYPE html>

<html>

	<head>
		<title>Angular.js Class</title>
		<script src="libs/jquery/dist/jquery.js"></script>
		<script src="libs/angular/angular.js"></script>
	</head>

	<body>

		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">
				{{message}}<br>
				<input ng-model="firstName"><br>
				<input ng-model="lastName"><br>

				<button ng-click="updateMessage()">Update Message</button>
			</div>
		</div>

		<script>

			angular.module("MyApp", [])
				.controller("MyCtrl", function($scope, $timeout) {

					$scope.message = "Hi Class!";

					$scope.updateMessage = function() {
						console.log("button clicked");
						$scope.message = "Updated Message";
					};

					$scope.colors = ["red","blue","green"];

					$scope.$watchCollection("colors", function(newList, oldList) {
						console.log(newList.join(","));
					});

					$scope.$watchGroup(["firstName","lastName"], function(newValue, oldValues, scope) {
					});

					$timeout(function() {
						console.log("timeout expired");
						$scope.colors.push("yellow");

					}, 3000);


				});

		</script>

	</body>

</html>
