<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Size</th>
			<th>Color</th>
			<th>Quantity</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="widget in widgets">
			<td>{{widget.name}}</td>
			<td>{{widget.size}}</td>
			<td>{{widget.color}}</td>
			<td>{{widget.quantity}}</td>
			<td>
				<a ng-href="/widget/{{widget._id}}">View</a>
				|
				<a ng-href="/widget/{{widget._id}}/edit">Edit</a>
			</td>
		</tr>
	</tbody>
</table>
<button ng-click="createWidget()">Create</button>
